.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex {
    display: flex;
    /* align-items: center; */
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* Nav styles */
.navbar {
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px 0 150px;
}
.logo img {
    width: 135px;
    height: 82px;
}
.nav-links {
    gap: 48px;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #8987A1;
}
.nav-link.home{
    color: #252432;
    font-weight: bold;
    font-size: 16px;
}
.nav-link-cart{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar{
        margin: 0px 16px;
    }
    .logo img {
        width: 63px;
        height: 38px;
    }
    .nav-links {
        gap: 24px;
    }
    .nav-link {
        display: none;
    }
}