.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex {
    display: flex;
}
.orange-text{
    color: #E95A08;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 26px 50px 26px 50px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    gap: 10px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav styles */
.navbar {
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px 0 150px;
    margin-bottom: 120px;
}
.logo img {
    width: 135px;
    height: 82px;
}
.nav-links {
    gap: 48px;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #8987A1;
}
.nav-link.home{
    color: #252432;
    font-weight: bold;
    font-size: 16px;
}
.nav-link-cart{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
/* banner styles */
.banner{
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.banner-content1{
    max-width: 570px;
}
.banner-title{
     font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;
}
.banner-description{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}
.banner-content2 img {
    max-width: 570px;
    height: auto;
}
/* plants styles */
.plants{
    margin: 0px 150px;
}
.plant-title{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 120px;
}
.plant-description{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.card-container{
    margin-top: 49px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    font-size: 22px;
    text-align: center;
    gap: 20px;
}


/* responsive media query */
@media screen and (max-width: 576px) {
    /* nav styles */
    .navbar{
        margin: 0px 16px;
    }
    .logo img {
        width: 63px;
        height: 38px;
    }
    .nav-links {
        gap: 24px;
    }
    .nav-link {
        display: none;
    }
    /* banner styles */
    .banner{
        flex-direction: column-reverse;
        margin-top: 28px;
    }
    .banner-content1{
        width: 361px;
        height: 66px;
        display: flex;
        flex-direction: column;
    }
    .banner-title{
        font-size: 24px;
        text-align: left;
        margin-bottom: 0px;
    }
    .banner-description{
        font-size: 14px;
        margin-bottom: 0px;
        text-align: left;
    }
    .banner-content2 img {
        max-width: 430px;
        /* max-width: 393px; */
        /* height: 245px; */
    }
}